{% extends 'base.html.twig' %}

{% block body %}
    <h3>Bienvenid@ {{ name }}</h3>
    <p>Haz click en el siguiente enlace para activar tu cuenta</p>
    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock %}
